<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- SQL문자와 Java코드를 분리하기 위한 파일 -->
<mapper namespace = "org.mybatis.example.BoardMapper">
	<insert id="diary" parameterType="DiaryDTO">
		insert into diaries values(#{diaryidx}, #{memberid}, #{cropidx}, #{diarytitle}, #{diarycontent}, #{diaryimg1}, #{diaryimg2}, sysdate)
	</insert>
	
	<select id="allDiary" resultType="GardenDTO">
		select diaryidx, memberid, cropidx, diarytitle, diarycontent, diaryimg1, diaryimg2
		from diaries
	</select>
	
	 <insert id="garden" parameterType="GardenDTO">
        insert into certigarden values (#{certidx}, #{title}, #{content}, #{img}, #{issecret}, #{desiredseed}, #{recipientname}, #{deliaddr}, #{recipientphone}, #{memberid}, sysdate)
    </insert>
    
    <select id="allGarden" resultType="GardenDTO">
    	select certidx, title, content, img, issecret, desiredseed, recipientname, deliaddr, recipientphone, memberid, createdat 
    	from certigarden
	</select>

	<insert id="growth" parameterType = "GrowthDTO">
		insert into growthpost values(#{growthpostid}, #{title}, #{content}, #{image}, #{seedname}, #{memberid}, sysdate)
	</insert>
	
	<select id="allGrowth" resultType="GrowthDTO">
		select growthpostid, title, content, image, seedname, memberid, timestamp
		from growthpost	
	</select>
</mapper>