<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- SQL문자와 Java코드를 분리하기 위한 파일 -->
<mapper namespace = "com.smhrd.mapper.mapper">
	<!-- 바인드변수(?) 대신 #{필드명} -->
	<insert id="join" parameterType="MemDTO">
		insert into members values(#{memberID}, #{password}, #{name}, #{phoneNumber}, #{email}, #{preference}, #{memberType}, #{joinedAt})
	</insert>
	
	<select id="login" parameterType="MemDTO" resultType="String">
		select name from members where memberid=#{memberID} and password=#{password}
	</select>
	
	<delete id="delete" parameterType="MemDTO">
		delete from members where memberid=#{memberID} and password=#{password}
	</delete>
	
	<update id="updatePassword" parameterType="MemDTO">
        update members set password=#{newPassword} where memberid=#{memberID} and password=#{oldPassword}
    </update>
    
    <select id="kakaologin" parameterType="String" resultType="MemDTO">
    	select memberID, password, name, phoneNumber, email, preference, memberType, joinedAt 
    	from members where email = #{email}
	</select>

</mapper>
